/* Основные стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff5d9;
    color: #333;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5rem;
    padding: 20px 0;
}

h2 {
    text-align: center;
    color: #ffbe00;
    font-size: 2.5rem;
    padding: 20px 0;
}

/* Контейнер для элементов */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Шапка */
header {
    background-color: #f39c12;
    padding: 20px 0;
}

/* Основной контент */
.content {
    margin-top: 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

.row.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Стиль для текста и фото */
.text {
    flex: 1;
    padding: 20px;
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
}

.photo {
    flex: 1;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.photo-left {
    order: 1;
}

.photo-right {
    order: 2;
}

/* Анимации для фото */
.photo:hover {
    transform: scale(1.05);
}

/* Стиль для дополнительных блоков с контентом */
.expanded-content {
    display: none;
    background-color: #f39c12;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.expanded-content .expanded-images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.expanded-content img {
    width: 30%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.expanded-content p {
    font-size: 1.2rem;
    color: #fff;
    line-height: 1.6;
}

/* Плавное появление элементов */
.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Копирайт */
footer {
    background-color: #f39c12;
    text-align: center;
    padding: 10px 0;
    color: #fff;
}

footer p {
    font-size: 1rem;
}

/* Плавная анимация для появления блоков при прокрутке */
.row {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

/* Всплывающее окно при активировании */
.photo.expanded {
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}

.photo.expanded .expanded-content {
    display: block;
}
